*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background: linear-gradient(to right, #ff0ade, #2522fc, #da790a,    #1be7b4);
    background-size: 400% 400%;
    animation: color 12s ease-in-out infinite;
}
@keyframes color {
    0% {
        background-position: 0% 50%;
    }
    50% { 
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
img {
width: 200px;
height: auto;
border-radius: 20px;
margin-top: 20px;
padding: 10px;
}
body{
    min-height: 100vh;
    display:grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
    height: 100vh;
    font-family: 'fantasy';
    font-size: 20px;
    background: url("https://www.climaterealityproject.org/sites/default/files/timothy-eberly-lhm2nldtc9g-unsplash.jpg");
}
nav{
    top: 0;
    position: sticky;
    grid-area: navbar;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0)
    padding: 1em;
}
aside{
    top: 50px;
    position: sticky;
    align-self: start;
    grid-area: sidebar;
    background-color: white;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0)
    padding: 2em;
}


.btn {
    font-size: 15px;
    font-family: 'sans-serif';
padding: 15px 40px;
border: none;
outline: none;
colour: white;
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 12px;
}
.btn::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.btn::before{
    content:"";
    background: linear-gradient(45deg, #ff0a0a, #f0e111, #0175fa,    #eb0bff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition opacity 0.3s ease-in-out;
    border-radius: 10px;
    opacity: 0; 
}
@keyframes glowing{
    0% {
        background-position: 0% 50%;
    }
    50% { 
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.btn:hover::before{
    opacity: 1;
}
.btn:active:after{
    background: transparent;
}
.btn:active{
    colour: black;
    font-weight: bold;
}
